<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All questions | Quiz app</title>

    <link rel="icon" type="image/png" href="../views/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../views/images/favicon-16x16.png" sizes="16x16" />

    <link href="https://fonts.googleapis.com/css?family=Pangolin:400,700|Proxima+Nova" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

    <link rel="stylesheet" href="../views/css/style.css" />
</head>

<body>
    <aside>
        <h3>WPR</h3>
        <header>
            <h2>HTML Quiz</h2>
        </header>

        <ul>
            <li><a class="active" href="http://localhost:3001/question/list-questions"><i
                        class="far fa-question-circle"></i> All questions</a></li>
            <li><a href="http://localhost:3001/question/add-question-form"><i class="far fa-plus"></i> New question</a>
            </li>
        </ul>
    </aside>
    <main>
        <div class="container">
            <h1>All questions</h1>

            <div id="search">
                <form action="./search-question" method="post">
                    <input type="search" placeholder="Search..." name="question" />
                </form>
            </div>

            <table>
                <tr>
                    <th>#</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th width="210">Actions</th>
                </tr>

                {{#each questions}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.text}}</td>
                    <td>{{this.answer}}</td>
                    <td>
                        <a href="http://localhost:3001/question/edit-question-form{{this._id}}" class="btn btn-blue"><i
                                class="far fa-edit"></i> Edit</a>
                        <button class="btn btn-orange" onclick="confirmDecision('{{this._id}}')"><i class="far fa-trash-alt"></i>
                            Delete</button>
                    </td>
                </tr>
                {{/each}}

            </table>
        </div>
    </main>
    <form id="delete-form" method="post"></form>

</body>

</html>

<script>
    const deleteForm = document.getElementById("delete-form");
    function confirmDecision(id) {
        if (confirm("Are you sure you to delete this question?") == true) {
            deleteForm.action = './delete-question/' + id + '?_method=delete';
            deleteForm.submit();
        }
    }
</script>